*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
.gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.gallery-0{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
}
.gallery-2{
    margin-left: -15px;
}
.gallery-3 {
    margin-top: -155px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
}
.container-5 {
    margin-top: -170px;
}
.gallery__img-6 {
    margin-top: 20px;
}
